<% unless @products %>
  <%= flash[:notice] %>
<% else %>
  <div class="products">
    <table border="1">
      <thead>
        <tr>
          <th colspan="4">Invoice breakdown</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Quantity</th>
          <th>Product</th>
          <th>Unit price</th>
          <th>Amount</th>
        </tr>
        <% @products.each do |p| %>
          <tr>
            <td><%= p.quantity %></td>
            <td><%= p.product %></td>
            <td><%= p.unit_price %></td>
            <td><%= p.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="invoice_breakdown">
    <table border="1">
      <tbody>
        <tr>
          <td>Sub total</td>
          <td><%= @invoice.sub_total %></td>
        </tr>
        <tr>
          <td>Tax</td>
          <td><%= @invoice.tax %></td>
        </tr>
        <tr>
          <td>Total</td>
          <td><%= @invoice.total %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>