<p><strong>¡Welcome <%= @customer_credentials["firstName"] %> <%= @customer_credentials["lastName"] %>!</strong> Please complete all of the steps on this page:</p>

<div>
  <%= link_to "Create An Invoice", 
            new_product_path(customer: params[:id]),
            data: { turbo_frame: dom_id(Product.new) } %>
  
  <%= turbo_frame_tag Product.new %>
</div>
  
<div>
  <%= turbo_frame_tag "invoice_breakdown" %>
</div>

<%= form_for(:customer, url: customer_path, method: :put) do |f| %>
  <%= f.submit "Complete Process" %>
<% end %>