<div class="flex flex-col justify-center items-center gap-4">
  <p><strong class="text-2xl">¡Welcome <%= @customer_credentials["firstName"] %><%= @customer_credentials["lastName"] %>!</strong>
  <br>Please complete all of the steps on this page:</p>

  <%= link_to "Create An Invoice", 
            new_product_path(customer: params[:id]),
            data: { turbo_frame: dom_id(Product.new) },
            class: "bg-blue-600 text-white p-2 rounded-lg" %>

  <%= turbo_frame_tag Product.new %>
    
  <%= turbo_frame_tag "invoice_breakdown" %>

  <%= form_for(:customer, url: customer_path, method: :put) do |f| %>
    <%= f.submit "Complete Process", class: "bg-red-500 text-white p-2 rounded-lg border-none" %>
  <% end %>
</div>