<div data-controller="products">
  <%= form_tag products_path(customer: params[:customer]) do %>
    <%= fields_for "products[]", @product do |f|%>
      <%= f.text_field :quantity, placeholder: "Quantity", data:  {
                                                                    products_target: "quantity",
                                                                    action: "focusout->products#validateEmpty change->products#validateEmpty", products_quantity_param: "quantity" 
                                                                  } %>
      <%= f.text_field :product, placeholder: "Product or service", data: { products_target: "product" } %>
      <%= f.text_field :unit_price, placeholder: "Unit price", data:  { 
                                                                        products_target: "unit_price",
                                                                        action: "focusout->products#validateEmpty change->products#validateEmpty", products_unit_price_param: "unit_price" 
                                                                      } %>
      <%= f.text_field :sub_total, placeholder: "Sub total", data:  {
                                                                      products_target: "amount",
                                                                      action: "focus->products#getAmount"
                                                                    }%>
      <br>

      <%= f.text_field :quantity, placeholder: "Quantity", data:  {
                                                                    products_target: "quantity",
                                                                    action: "focusout->products#validateEmpty change->products#validateEmpty", products_quantity_param: "quantity" 
                                                                  } %>
      <%= f.text_field :product, placeholder: "Product or service", data: { products_target: "product" } %>
      <%= f.text_field :unit_price, placeholder: "Unit price", data:  { 
                                                                        products_target: "unit_price",
                                                                        action: "focusout->products#validateEmpty change->products#validateEmpty", products_unit_price_param: "unit_price" 
                                                                      } %>
      <%= f.text_field :sub_total, placeholder: "Sub total", data:  {
                                                                      products_target: "amount",
                                                                      action: "focus->products#getAmount"
                                                                    }%>
    <% end %>
    <button type="submit" data-submit-target="createProduct">Create invoice</button>
  <% end %>
</div>